{% extends 'quotes/base.html' %}

{% block content %}
    <h3>Viewing tag: <a href="/tag/{{ tag_name }}/page/1/">{{ tag_name }}</a></h3>

    <div class="row">
        <div class="col-md-8">
            {% for quote in quotes %}
            <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
                <span class="text" itemprop="text">{{ quote.text }}</span>
                <span>by <small class="author" itemprop="author">{{ quote.author.name }}</small>
                    <a href="/author/{{ quote.author.slug }}">(about)</a>
                </span>
                <div class="tags">
                    Tags:
                    {% for tag in quote.tags.all %}
                    <a class="tag" href="{% url 'quotes:quotes_by_tag' tag.name %}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
    </div>
            </div>
{% endblock %}